.ButtonContainer {
    height: inherit;
    width: inherit;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50vh;
    z-index: 1;
}

.arrow-button-forward {
    height: 100px;
    align-items: center;
}

.arrow-button-back {
    height: 100px;
    align-items: center;
    transform: rotate(180deg);
}